
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Sidebar Container Start -->
                        <div class="sidebar">  
                        <br><br><br><br><br><br><br><br>                        
                            <div class="widget">
                                <h4>Our Programs</h4>
                                
                                <h5>Professional Diploma courses (click on a course) </h5>
                                <ul>
                                    <li><%= link_to "Professional Diploma in Android and Web systems", diploma_path %></li>
                                    <li><%= link_to "Professional Diploma in Graphics Design", graphics_path %></li>
                                </ul>
                                <h5>Professional Bachelors (click on a course) </h5>
                                <ul>
                                    <li><%= link_to "Bsc in Web and Mobile Systems", bscweb_path %></li>
                                    <li><%= link_to "Bsc in Mobile Computing", bscmobile_path %></li>
                                    <li><%= link_to "Bsc in Computer Software Engineering", bscsoftware_path %></li>
                                    <li><%= link_to "Bsc in Computer Systems and Network Administration", bsccsna_path %></li>
                                    <li><%= link_to "Bsc in Computer Engineering", bscce_path %></li>
                                    <li><%= link_to "Bsc in Graphics Design and Multimedia", bscgmm_path %></li>
                                    <li><%= link_to "Bsc in Cloud Computing and Big Data", bscccbd_path %></li>
                                    
                                    
                                </ul>
                                <h5>Our HND Courses (click on a course)</h5>
                                <ul>
                                  <li><%= link_to "HND in Software Engineering and Computing", hnd_path %> </li>
                                     
                                </ul>
                                
                                <h5>Our Certificates short courses (click on a course)</h5>
                                <ul>
                                  <li><%= link_to "Android App Development", android_path %> </li>
                                  <li><%= link_to "Professional Mobile First Web Design", webdesign_path %> </li>
                                  <li><%= link_to "Web Development With PHP and Laravel", laravel_path %> </li>
                                  <li><%= link_to "Web Development with Node, Express and MongoDB", nodecourse_path %> </li> 
                                  <li><%= link_to "Web Development with Ruby on Rails", rail_path %> </li>   
                                </ul> 
                            </div>
                        </div>
                        <!-- Sidebar Container End -->
                    </div>
                </div>
            </div> 
        </section>   