                                            <h3>Professional Diploma in Android and Web Systems</h3>
                                            <h4>Admission conditions:</strong></h4>
                                            <div>
                                            <span class="dinfo"> Degree,Licence, BTS, HND, ND in any science, engineering, technology, and business discipline.
                                            <br>Students with A levels or BAC with experience in web development will be considered on a case by case basis</span>
                                          </div>
                                            <br>
                                            <div class="well">
                                              <h4>Course Outline</h4>
                                              <p class="dta">There are two tracks to the course. Choose one</p>
                                              <br>
                                               <h5>Full Stack php laravel developer with Android track</h5>
                                               <p >You do the following 3 modules <span class="dinfo">(Click on a module to see details)</span></p>
                                               <ul>
                                                  <li><%= link_to "Professional Mobile First Web Design", webdesign_path %> </li>
                                                  <li><%= link_to "Web Development With PHP, MYSQL and Laravel", laravel_path %> </li>
                                                  <li><%= link_to "Android App Development", android_path %> </li>
                                                </ul> 
                                                <br>
                                                <br>
                                                <h5>Full Stack Node, Express and MongoDB developer with Android track. Recommended for those travelling to US and Europe</h5>
                                                <p >You do the following 3 modules <span class="dinfo">(Click on a module to see details)</span></p>
                                                <ul>   
                                                  <li><%= link_to "Professional Mobile First Web Design", webdesign_path %> </li>
                                                   <li><%= link_to "Web Development with Node, Express and MongoDB", nodecourse_path %> </li>
                                                   <li><%= link_to "Android App Development", android_path %> </li>
                                                </ul> 
                                             </div>
                                            
                                             <h4>Course Details</h4>
                                             <table class="table table-striped table-bordered dta">
                                                <tbody>
                                                    <tr>
                                                        <th>Course Start Date</th>
                                                        <td>Oct: 2019</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Estimated Duration</th>
                                                        <td>1 Year</td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <th>Course Price</th>
                                                        <td>CFA 500 000 (Cameroonians), <br> CFA 730,000 (Foreign Students) <br>Pay in 3 installments <br>Registration Fee: CFA 20, 000 frs</td>
                                                    </tr>
                                                </tbody>
                                             </table>