<% @page_title = 'Welcome to Iipawis'%>
        <div id="first-slider">
            <div id="carousel-example-generic" class="carousel slide carousel-fade ">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <!-- Item 1 -->
                    <div class="item active slide1">
                        <div class="row">
                            <div class="container">
                                <div class="col-md-3 text-right">
                                     
                                </div>
                                <div class="col-md-9 col-xs-12 text-left">
                                    <h3 data-animation="animated bounceInDown">Central Africa's pioneer higher institute for Android, Web and Applied Computer technologies</h3>
                                    <h4 data-animation="animated bounceInUp">with English as language of instruction !</h4>  
                                    <%= link_to new_user_path do %>
                                      <button data-animation="animated bounceInDown" type="button" class="btn btn-lg btn-danger" >Apply now!</button>
                                    <% end %>           
                                </div>
                            </div>
                        </div>
                     </div> 
                    <!-- Item 2 -->
                    <div class="item slide2">
                        <div class="row"><div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown"> Highly qualified lecturers and professionals </h3>
                                <h4 data-animation="animated bounceInUp">Drawn from the global tech industry </h4>
                                <%= link_to new_user_path do %>
                                  <button data-animation="animated bounceInDown" type="button" class="btn btn-lg btn-danger" >Apply now!</button>
                                <% end %>
                             </div>
                            <div class="col-md-5 text-right">
                                
                            </div>
                        </div></div>
                    </div>
                    <!-- Item 3 -->
                    <div class="item slide3">
                        <div class="row"><div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown"> Students have the unique opportunity to undertake internship projects  </h3>
                                <h4 data-animation="animated bounceInUp"> from Imagin Teknologi, Norway</h4>
                                
                                <%= link_to new_user_path do %>
                                  <button data-animation="animated bounceInDown" type="button" class="btn btn-lg btn-danger" >Apply now!</button>
                                <% end %>
                             </div>
                            <div class="col-md-5 text-right">
                                <!--<img style="max-width: 200px;"  data-animation="animated zoomInLeft" src=".png"> -->
                            </div>     
                        </div></div>
                    </div>
                    <!-- Item 4 -->
                    <div class="item slide4">
                        <div class="row"><div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown"> Our graduates are technically equipped</h3>
                                <h4 data-animation="animated bounceInUp">to provide robust digital solutions to complex problems  </h4>
                                <%= link_to new_user_path do %>
                                  <button data-animation="animated bounceInDown" type="button" class="btn btn-lg btn-danger" >Apply now!</button>
                                <% end %>
                             </div>
                            <div class="col-md-5 text-right">
                                
                            </div>  
                        </div></div>
                    </div>
                    <!-- End Item 4 -->
                </div>
                <!-- End Wrapper for slides-->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        

        
    <div class="page-wrapper">

        <!-- Top Bar Start -->
        <div class="top-bar">
            <div class="container">
                <div class="row">                   
                    <div class="col-md-6 top-social">
                        <ul>
                            <li><a href="https://www.facebook.com/iipawis/"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 top-contact">
                        <div class="list">
                            <i class="fa fa-envelope"></i>director@iipawis.com
                        </div>
                        <div class="list">
                            <i class="fa fa-phone"></i> +237 682889915
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        

        <!-- Header Start -->
        <header>
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12 col-sm-12 nav-wrapper">

                         

                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->

          <div id = "mobile-div">
                <div class="show-mobile col-sm-12 col-xs-12 text-center">
                    <div class="mobile-content">
                        <h3>Your true software career starts here</h3>
                        <%= link_to new_user_path do %>
                        <%= link_to "Click Here to Apply", new_user_path, class: "btn btn-lg btn-danger" %>
                          
                        <% end %>
                        <p>Admission currently going on</p> 
                    </div>   
               </div>    
           </div>     
       


        <!-- About Start -->
        <section class="about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="item">
                            <h3>Welcome</h3>
                            <p>
                                The <strong>International Instiute for Professional Android, Web and IT Systems, IIPAWIS </strong>is a specialized higher institute for applied computer science launched by <strong>Imagin Technologies Norway</strong>,  in Bonaberi, Douala,  the economcic capital of Cameroon.
                            </p>                            
                            <p>
                                IIPAWIS aims to groom students to be competitive in the fast changing world of mobile, web and computer technology. The trainings are highly intensed and focused on rigorous programming in the state of the art programming languages and standards</p>

                            
                            <br>
                            <p>The Director</p>                         
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="item">
                            <div class="embed-responsive embed-responsive-16by9" style="background-image:url(assets/pages/utube2.jpg)">  
                                                                                      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About End -->
        

        <!-- Course Start -->
        <div class="course">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Our Courses</h2>
                        <div class="h-bar"><i class="fa fa-book"></i></div>
                        <h3>We Provide Just the Right Courses </h3>
                    </div>
                </div>
                <div class="row">
                 <div class=" col-md-12 course-intro"> <h4>Our Professional Diploma Courses </h4></div> <div class=" col-md-0"></div>
                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo webdev">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Professional Diploma in Android and Web Systems</h2>
                                    <!--<h3>Fee: CFA 600 000 F</h3> -->
                                    <h3>Duration: 1 Year</h3>
                                    <p>
                                        Get the advanced skills required to qualify you as a professional Android App and Full stack Web Developer.
                                    </p>
                                    <p>
                                        <%= link_to "See Details", diploma_path, class: "btn btn-primary" %> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="item">
                            <div class="photo gmm">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Professional Diploma in Graphics Design and Multimedia</h2>
                                    <!--<h3>Fee: CFA 600 000 F</h3> -->
                                    <h3>Duration: 1 Year</h3>
                                    <p>
                                        Get the advanced skills required to qualify you as a professional graphics designer .
                                    </p>
                                    <p>
                                        <%= link_to "See Details", graphics_path, class: "btn btn-primary" %> 
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    

                     <br>
                     <br>

                    <div class=" col-md-12 course-intro"> <h4>Our Professional Bachelor Programs </h4></div> <div class=" col-md-0"></div>



                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo webdesign">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Web and Mobile Systems </h2>
                                    <!--<h3>Fee: 250 000FCFA</h3> -->
                                     <h3>Duration: 3 years</h3>
                                    <p>
                                        This program prepares students for professional Web and mobile applications development.
                                    </p>
                                    
                                    <p>
                                        <%= link_to "See Details", bscweb_path, class: "btn btn-primary" %> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo secure">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Cyber Security</h2>
                                    <!--<h3>Fee: 250 000FCFA</h3> -->
                                     <h3>Duration: 3 years</h3>
                                    <p>
                                        Learn how to secure databases, computer networks, computer systems and web and mobile apps.
                                    </p>
                                    
                                    <p>
                                        <%= link_to "See Details", bscsecure_path, class: "btn btn-primary" %> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo android " >

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Mobile Computing &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </h2>
                                    <!--<h3>Fee: 300 000 FCFA</h3>-->
                                    <h3>Duration: 3 years</h3>
                                    <p>
                                        This program focuses on mobile hardware, software, and mobile communications.
                                    </p>
                                    <p>
                                        <%= link_to "See Details", bscmobile_path, class: "btn btn-primary" %> 
                                    </p>
                                </div>                                    
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo software">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Computer Software Engineering</h2>
                                    <!--<h3>Fee: 280 000 FCFA</h3>-->
                                    <h4>Duration: 3 years</h4>
                                    <p>
                                        This course prepares students as professionals for the global software engineering industry
                                    </p>
                                    <p>
                                        <%= link_to "See Details",bscsoftware_path, class: "btn btn-primary" %> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo it">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Computer System and Network Administration</h2>
                                    <!--<h3>Fee: 280 000 FCFA</h3>-->
                                    <h4>Duration: 3 years</h4>
                                    <p>
                                        This course prepares students to man the IT infrastructures of big companies 
                                    </p>
                                    <p>
                                        <%= link_to "See Details",bsccsna_path, class: "btn btn-primary" %> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo ce">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Computer Engineering</h2>
                                    <!--<h3>Fee: 280 000 FCFA</h3>-->
                                    <h4>Duration: 3 years</h4>
                                    <p>
                                        Computer engineering is the branch of engineering that integrates electronic engineering with computer sciences. 
                                    </p>
                                    <p>
                                        <%= link_to "See Details",bscce_path, class: "btn btn-primary" %> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo gmm">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Computer Graphics and Multimedia</h2>
                                    <!--<h3>Fee: 280 000 FCFA</h3>-->
                                    <h4>Duration: 3 years</h4>
                                    <p>
                                         This program is for motion graphics, graphic design and computer modeling  enthusiasts.
                                    </p>
                                    <p>
                                        <%= link_to "See Details",bscgmm_path, class: "btn btn-primary" %> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="item">
                            <div class="photo ccbd">

                            </div>
                            <div class="text">
                                <div class="inner">
                                    <h2>Bsc in Cloud Computing and Big Data</h2>
                                    <!--<h3>Fee: 280 000 FCFA</h3>-->
                                    <h4>Duration: 3 years</h4>
                                    <p>
                                        This course prepares students in the fields of cloud computing and Big Data
                                    </p>
                                    <p>
                                        <%= link_to "See Details",bscccbd_path, class: "btn btn-primary" %> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                     
                </div>
                <div class=" col-md-12 course-intro short"> <h4>Government programs (2 years)</h4></div> <div class=" col-md-0"></div>
                 <ul class="certificates">
                    <li><h4><%= link_to "HND Software Engineering computing", hnd_path %> </h4></li>
                      
                      
                 </ul>
                 <div class=" col-md-12 course-intro short "> <h4>Our short Professional Certificates courses(4 months each) </h4></div> <div class=" col-md-0"></div>
                 <ul class="certificates">
                     
                    <li><h4><%= link_to "Android App Development", android_path %> </h4></li>
                    <li><h4><%= link_to "Professional Mobile First Web Design", webdesign_path %></h4> </li>
                    <li><h4><%= link_to "Web Development With PHP and Laravel", laravel_path %></h4> </li>
                    <li><h4><%= link_to "Web Development with Node, Express and MongoDB", nodecourse_path %></h4> </li> 
                    <li><h4><%= link_to "Web Development with Ruby on Rails", rail_path %></h4> </li>   
                               
                 </ul>
                 
                
            </div>
        </div>
        <!-- Course End -->
        <!-- Department Area Start -->
        <section class="department no-pb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="department-grid">
                            
                            <h2>Departments</h2>
                            <div class="h-bar"><i class="fa fa-book"></i></div>
                            <h3>Our Academic Departments</h3>

                            <div class="department-grid-item">
                                <div class="item">
                                    <div class="col-md-4 col-sm-6">
                                        <div class="inner">
                                            
                                            <div class="course-intro">
                                              <h4>Web and Mobile Systems</h4>
                                            </div>              
                                        </div>                      
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <div class="inner">
                                            
                                            <div class="course-intro">
                                                 <h4>Computer Systems and Network</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        
                                        <div class="inner">    
                                            <div class="course-intro">
                                                 <h4>Computer Science and Engineering</h4>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!--
                                    
                                    -->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
         



        <!-- Apply Now Start -->
        <div class="apply-now-v1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="item">
                            <div class="left">
                                <p>Don't wait .Apply right now for admission</p>
                            </div>
                            <div class="right">
                                <%= link_to "Apply Now", new_user_path %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Apply Now End -->

        
        <!-- Footer Main Start -->
        <section class="footer-main">
            <div class="container">
             <h4 class="address text-center">International Institute of Professional Android, Web and IT Systems</h4>
             <h5 class="text-center  text-danger"><b>Rond Point Sapeur Pompier, Bonaberi Douala ( Yellow Building on the Road to Ancienne Route(Besseke/Bonambappe)</b></h5>
            </div>
        </section>

        <!-- Footer Main End -->

        
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 copyright">
                        Copyright &copy; <%= Date.today.year %>,  International Institute of Professional Android, Web and IT Systems. All Rights Reserved.
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </div>
</div>


        
        
<script type="text/javascript">

(function( $ ) {

    //Function to animate slider captions 
  function doAnimations( elems ) {
    //Cache the animationend event in a variable
    var animEndEv = 'webkitAnimationEnd animationend';
    
    elems.each(function () {
      var $this = $(this),
        $animationType = $this.data('animation');
      $this.addClass($animationType).one(animEndEv, function () {
        $this.removeClass($animationType);
      });
    });
  }
  
  //Variables on page load 
  var $myCarousel = $('#carousel-example-generic'),
    $firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");
    
  //Initialize carousel 
  $myCarousel.carousel();
  
  //Animate captions in first slide on page load 
  doAnimations($firstAnimatingElems);
  
  //Pause carousel  
  $myCarousel.carousel('pause');
  
  
  //Other slides to be animated on carousel slide event 
  $myCarousel.on('slide.bs.carousel', function (e) {
    var $animatingElems = $(e.relatedTarget).find("[data-animation ^= 'animated']");
    doAnimations($animatingElems);
  });  
    $('#carousel-example-generic').carousel({
        interval:3000,
        pause: "false"
    });
  
})(jQuery); 
</script>
   
    
       
    
   
