<!DOCTYPE html>
<html>

    <head>
        <title><%= @page_title %></title>
        <%= csrf_meta_tags %>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
         <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
          <%= favicon_link_tag 'pages/iipawislogo.png' %>
          <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '633353003782763'); 
fbq('track', 'PageView');
<% if @page_title == 'Apply for admission' %>
  fbq('track', 'SubmitApplication');
<% end %>
fbq('track', 'ViewContent');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=633353003782763&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
         <style type="text/css">
         @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:500,600,700");
          .register-button {
   
              background: #0066cc;
              border: 1px solid #f1f1f1;
              font-size: 20px;
              font-weight: 100;
              letter-spacing: 2px;
              color: #fff;
              
            }
            .mobile-content h3 {
              color: #fff;
              margin-bottom: 40px;
              font-weight: 600
            }

             .android {
              
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(assets/pages/androidapp.jpg); 
            }
            .webdesign {
              /*background-image: url(pages/androidapp.jpg); */
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(assets/pages/frontend.jpg);
            }

             

            .it{
  
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(assets/pages/itpic2.jpg); 
            }
         .gmm{ 
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(assets/pages/gmm.jpg); 
            }

             .ce{  
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(assets/pages/ceng.jpg); 
            }
             
             .webdev{
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(assets/pages/webdev.jpg); 
            }

            .ccbd{  
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(assets/pages/bigdata.png); 
            }

            .secure{  
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(assets/pages/secure/jpg); 
            }
             
             

            .software {
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(assets/pages/software.jpg);
            }


            .php {
              
              /*background-image: url(pages/androidapp.jpg); */
              background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), url(assets/pages/phone2.jpg);
            }

            .register-button:hover {
              background: #0066cc;
            }
            .new-user-wrapper { 
              padding: 1px;
              
              
              border: 1px solid #aaaaaa;
             padding-top: 0px;
              margin-top: 50px
            }
             .grey-text {
              margin-top: 17px;
              color: #a9640e;
              font-size: 17px;
              font-weight: 100

             }

             .dta {font-weight: 300!important;}
             

            .title {
              margin-bottom: 30px;
            }
            .error-span {
              color: red;
            }
            .short {
              text-align: left;
            }

            .certificates h4 {
              text-align: left;
            }

            @media (max-width: 600px) {
              .new-user-wrapper {
                margin: 0 auto;
              }

              #mobile-div {
              overflow: auto;
            }
            .about {
              padding-top: 5px
            }
            }

            .dinfo {font-weight: 300; color: red;}

            .infos{
              font-size: 18px;
              color: #666;
            } 

            .registerform {
              background: #f1f1f1;
              border-radius: 0px;
              margin: 0;
              margin-bottom: -1px;
            }

            
            /* ----------login page--------------- */

            .login-form { 
            background-color: #fff;
            margin-top: 50px;
            border: 1px solid #aaaaaa;
            }
            /* ----------some front page styles--------------- */

            .course-intro h4 {
                margin-top: 33px;
                color: #e43a3a;
                font-weight: 600;
            }

            .message-div {
                position:fixed; 
                top: 70px; 
                left: 0px; 
                width: 100%;
                z-index:9999; 
                border-radius:0px;   
            }
            
            .btn-info {
  padding:10px 18px;
  background-color: #d9d9d9;
  color: #2098d1;
  border: 3px solid #2098d1;
  border-radius: 300px;
  font-size: 22px;
  margin-bottom: 10px;
}
.diploma-instruct {
  color: red;
  font-weight: 300;
}

.course .item {
  border: 1px solid #aaa;
  border-radius: 0;

}

.title-line {
  border-bottom: 2px solid #000;
  width: 70%;
  margin: 0 0;
}

.top-bar {border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;}
         </style>
    </head>


  

  <body>
  	<div class="toppanel">
      <div class="container showcase">
        <%= link_to root_path do %>
          <div class="logo col-md-2 col-md-offset-0 col-xs-6 col-xs-offset-3">
           <%= image_tag('pages/iipawislogo.png', class: 'img-responsive') %> 
          </div>
        <% end %>
                
        <div class="col-md-10 col-xs-12">
          <%= link_to 'Apply Here', new_user_path, class: "btn btn-info btn-lg pull-right hidden-xs hidden-sm" %>
            <h4 class="page-title ">International Institute for Professional Android, Web and IT Systems</h4>
            
            <div class="h-bar hidden-lg hidden-md" ><i class="fa fa-book"></i></div>
            <h5>RAISING TECH GURUS</h5>                   
        </div>
      </div>
    </div>
         
        <!--<div class="grad col-sm-12"></div>-->
       <%= render 'layouts/message' %>
    <%= yield %>

    
    
  </body>
</html>
